{% extends "header.html" %}
{% block content %}

<div class="container" width="100%">
    <h2>Feature Requests</h2>
    <p></p>
    <table id="features" class="table table-striped" width="100%">
        <thead>
        <tr>
            <th>Title</th>
            <th>Priority</th>
            <th>Client Name</th>
            <th>Area</th>
            <th>Url</th>
            <th>Description</th>
            <th>Target Date</th>
        </tr>
        </thead>
        <tbody>
        {% for feature in featurerequest %}
        <tr>
            <td>{{ feature.title }}</td>
            <td>{{ feature.clientPriority }}</td>
            <td>{{ feature.client.client }}</td>
            <td>{{ feature.product.productarea }}</td>
            <td>{{ feature.url }}</td>
            <td>{{ feature.description }}</td>
            <td>{{ feature.targetDate.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
        <tfoot>
        <tr>
            <th style="display: none">Title</th>
            <th>Priority</th>
            <th>Client Name</th>
            <th style="display: none">Area</th>
            <th style="display: none">Url</th>
            <th style="display: none">Description</th>
            <th style="display: none">Target Date</th>
        </tr>
        </tfoot>
        </tbody>
    </table>
</div>
<div><p></p></div>

{% endblock %}

