{% extends "header.html" %}
{% block content %}

<div class="container" width="100%">
    <h2>Feature Requests</h2>
    <p></p>
    <table id="features" class="table table-striped" width="100%">
        <thead>
        <tr>
            <th>Title</th>
            <th>Priority</th>
            <th>Client Name</th>
            <th>Area</th>
            <th>Target Date</th>
            <th>Assigned</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for feature in featurerequest %}
        <tr>
            <td><a href="/features/{{ feature.id }}">{{ feature.title }}</a></td>
            <td>{% if feature.clientPriority > 0 %}{{ feature.clientPriority }}{% else %}Complete{% endif %}</td>
            <td>{{ feature.client.client }}</td>
            <td>{{ feature.product.productarea }}</td>
            <td>{{ feature.targetDate.strftime('%Y-%m-%d') }}</td>
            <td>{{ feature.assigned }}</td>
            <td>{{ feature.status.status }}</td>
        </tr>
        {% endfor %}
        <tfoot>
        <tr>
            <th style="display: none">Title</th>
            <th>Priority</th>
            <th>Client Name</th>
            <th style="display: none">Area</th>
            <th style="display: none">Target Date</th>
            <th style="display: none">Assigned</th>
            <th style="display: none">Status</th>
        </tr>
        </tfoot>
        </tbody>
    </table>
<div><p></p></div>

{% endblock %}

