<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/datatables.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/feature-request.css') }}"/>
    <script type="text/javascript">
    $(document).ready(function () {
        var table = $('#features').DataTable({
            fixedColumns: true,
             lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });
        // Setup - add a text input to each footer cell
        $('#features tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        // DataTable


        // Apply the search
        table.columns().every(function () {
            var that = this;

        $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                            .search(this.value)
                            .draw();
                }
            });
        });
    });
</script>

    <script type="text/javascript">
        $(function () {
            $('[type="date"]').prop('min', function () {
                return new Date().toJSON().split('T')[0];
            });
        });
        $(".nav a").on("click", function () {
            $(".nav").find(".active").removeClass("active");
            $(this).parent().addClass("active");
        });
    </script>
    <div id="ViewHeader">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header"></div>
                <ul class="nav navbar-nav">
                    <li {% if request.path==
                    '/' %}class="active"{% endif %}><a href="/">Home</a></li>
                    <li {% if request.path==
                    '/featurerequest' %}class="active"{% endif %}><a href="/featurerequest">Feature Request</a></li>
                    <li {% if request.path==
                    '/features' %}class="active"{% endif %}><a href="/features">Client Features</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if name=="Admin" %}<li><a href="/admin">Admin</a></li>{% endif %}
                    <li>
                    <li><a href="/logout">Logout</a></li>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

</head>
<body>
<div id="content" width="100%">{% block content %}{% endblock %}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js"></script>
    <script src="{{ url_for('static', filename='js/feature_request_viewmodel.js') }}"></script>
<script type="text/javascript">
        $("#alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#alert").slideUp(500);
        });
    </script>

</body>
</html>